
    <div class="modal">
        <div class="modal-dialog modal-sm" role="dialog" aria-hidden="true">
          <div class="modal-content">
            <div class="clr-form-control">
                <label for="example7" class="clr-control-label">Ingredients</label>
                <div class="clr-control-container">
                  <div class="clr-textarea-wrapper">
                    <textarea id="example7" placeholder="Text" class="clr-textarea"></textarea>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div style="text-align: center ; width:1400px; 
                    height: 70px">
                        <button type="button" mat-flat-button (click)="onClick()">submit</button>
                    </div>
      </div>
    
      <div class="modal-backdrop" aria-hidden="true"></div>