
<div style="text-align: center ; width:1400px; 
    height: 70px">
        <button type="button" mat-flat-button  (click)="onClick()">select food by products</button>
    </div>


<div *ngIf = "clicked == true">
    <form  [formGroup] = "formGroup" (ngSubmit)="searchFood()">
        <ng-container formArrayName="ingredients">
            <ng-container *ngFor="let control of ingredients.controls; index as i"
          >
                <input [formControlName] = "i">
            </ng-container>
        </ng-container>
          <button type="button" mat-flat-button (click)="addIngredient()">add ingredient</button>
          <button type="submit" mat-flat-button>search for food</button>
    </form >
    <button class="btn btn-primary" (click)="close()">Close</button>
</div>

<!--
    if we have returned values from Spring, show the table 
-->
<div *ngIf="this.food.length>0 && clicked == true">
    <table class="table">
        <caption>
          <h1>Food</h1>
        </caption>
        <thead>
          <th>Name</th>
          </thead>
          <tbody>
            <tr *ngFor=" let food of this.food;  let idx = index">
                <td>{{food.foodName}}</td>
            </tr>
          </tbody>
        
      </table>
      <button class="btn btn-primary" (click)="close()">Close</button>
</div>

<!--
    <pre>
    {{this.ingredients.value| json}}
    </pre>

-->

    