

.image{
    height:43em; background-size:cover; 
    background-image:url('https://ca-times.brightspotcdn.com/dims4/default/8b7afc4/2147483647/strip/true/crop/3000x2000+0+0/resize/840x560!/format/webp/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F7d%2F24%2F0d9fed4c40c285ffca41843ae569%2Fdecadefood.jpg');
    background-position:50% 50%;
  }
